.cont{
    display:flex;
    /* justify-content: space-evenly; */
    /* flex-direction: row-reverse; */
    text-align: center;
    height:90vh;
    /* flex-wrap: wrap;
 */
 

}
.box{
    width: 150px;
    height:150px;
    border-radius: 3px;
    

}

#box1{
    background-color: aqua;
}
#box2{
    background-color: rgb(93, 0, 255);
}
#box3{
    background-color: rgb(255, 0, 102);
}
#box4{
    background-color: rgb(255, 251, 0);
}